body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    color: #ccc;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #f7f7f7;
    padding: 2em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

#skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#skills li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#projects.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#projects img {
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
}

#resume a {
    text-decoration: none;
    color: #333;
}

#contact p {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}